body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
    color: aliceblue;
}

.contenedor-imc {
    width: 700px;
    height: 400px;
    background-color: #666;
    display: flex;
    align-items:center;
    border: 2px solid black;
}

.contenedor-imc__box {
    width: 400px;
    height: 100px;
    padding: 20px;
    background-color: rgb(148, 148, 148);
    display: flex;
    justify-content: center;
    align-items:center;
    margin-top: 100px;
    border: 1px solid black;
    margin-left: 0.5em;
}

.boton-imc {
    height: 20px;
    width: 60px;
}

.input-imc {
    height: 20px;
    width: 100px;
    margin-left: 1em;
}

.contenedor-imc__header {
    font-size: 13px;
    display: inline-block;
    position: absolute;
    text-align: center;
    background-color: rgb(148, 148, 148);
    border: 1px solid black;
    padding: 1em;
    top: -6px;
    left: 50px;
}

.contenedor-imc__span {
    display: block;
}

.boton-imc {
    margin-left: 0.5em;
    margin-top: 30px;
    padding: 1px;
}

.label1 {
    margin-left: 1em;
    text-align: center;
}

.perder-peso {
    height: 150px;
    width: 150px;
    margin-left: 32em;
    top: 12em;
    position: absolute;
}

