@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

body{
	text-align: center;
	font-family: 'Poppins', sans-serif;
}


.menu{
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 63px;
	background: #171717;
	position: fixed;
	width: 100%;
	z-index: 100;
}

.enlaces{
	display: flex;
	margin-right: 10px;

}

.logo{
	margin-left: 30px;
}

.logo a{
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
	font-size: 20px;
}


.enlaces a{
	display: block;
	padding: 20px 20px;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 15px;
}

.enlaces a:hover{
	background: #3f3f3f;
}

header{
	display: flex;
	justify-content: center;
	align-items: center;
}

header{
	height: 60vh !important;
	background: url(img/img1.jpg) no-repeat center;
	background-size: cover;
	background-attachment: fixed;
}

.titulo{
	margin-bottom: 40px;
	font-size: 40px;
	font-weight: 600;
	text-transform: uppercase;
}

.tt{
	margin-bottom: 40px;
	font-size: 50px;
	font-weight: 600;
	text-transform: uppercase;
	color: #fff;
}

p{
	margin-bottom: 40px;
	font-size: 15px;
	color: #fff; 
}

.contenedor{
	height: 60vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.info{
	padding: 30px;
	background: #1f1d1d;
}


.box-contenedor{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}


.box-contenedor .box{
	height: 7rem;
	width: 17rem;
	background: #101010;
	text-align: center;
	border-radius: 1rem;
	box-shadow: 0 .3 5rem rgba(0, 0,0, 0.5);
	margin:  2rem;
}

.box-contenedor .box h3{
	font-size: 20px;
	color: #9c27b0;
}


.box-contenedor .box p{
	font-size: 16px;
	padding: 0 15px;
}

.segundo{
	background: #171717;
}

.cambio{
	background: url(img/img2.jpg) no-repeat center;
	background-attachment: fixed;
}

.tercero{
	height: 100%;
}

.ejemploPar{
	color:  black;
	font-family: 'Times New Roman', Times, serif;
	font-size: 25px;
}

input[value="probar"]{
	text-transform: capitalize;
	padding: 15px;
	background-color: rgb(128, 175, 196);
	border-radius: 10px;
	margin-bottom: 25px;
	width: 50%;
}

input[value="probar"]:hover{
	background-color: rgb(128, 175, 196,0.5) ;
	cursor: pointer;
}

.contain2{
	border-top: 1px solid black;
	margin-top: 15px;
}

.cambio2{
	background: url(img/img-cambio.jpg) no-repeat center;
	height: 40vh;
}

.tituloBli{
	margin-bottom: 40px;
	font-size: 80px;
	font-weight: 600;
	text-transform: uppercase;
	color: white;
}

.biblio{
	color: #000;
	font-size: 20px;
}

.biblio a{
	text-decoration: none;
}

.biblio a:hover{
	background-color: #9c27b0;
	padding: 2px;
	border-radius: 20px;
	color: white;
}
